body {
    margin: 0;
    background: #1F2937;
    color: azure;
    padding: 50px;
    font-family: 'Spinnaker', sans-serif;
}

.green-text {
    color: #4ADF86;
}

#pass-gen-btn {
    background: #10B981;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.separate-line {
    border: 1px solid #2F3E53;
    margin: 10px auto;
}

#password-text {
    background: #273549;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    color: #10B981;
    text-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
}

#password-length-input {
    background: azure;
    color: darkgreen;
    padding: 9px 0 9px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-weight: bolder;
    width: 153px;
}

.pass-panel {
    display: flex;
}

#copy-btn {
    background: #2F3E53;
    color: azure;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

#copy-btn:hover {
    background: #10B981;
    border: 1px solid azure;
}

#hint {
    font-style: italic;
    font-size: small;
}